@{
    ViewData["Title"] = "Home Page";
}


<table class="table" id="orderstable">
  <thead>
    <tr>   
      <th scope="col">MenuItem</th>
      <th scope="col">Mesa</th>
    </tr>
  </thead>
  <tbody>
   
  </tbody>
</table>
