@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>Cambiar Correo</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating input-group">
                    <input asp-for="Email" style="background-color: #4d6e7f; border:none;" class="form-control" disabled />
                        
                    <label asp-for="Email" class="form-label">Correo</label>
                </div>
            }
            else
            {
                <div class="form-floating">
                    <input asp-for="Email" style="background-color: #4d6e7f; border:none;" class="form-control" disabled />
                    <label asp-for="Email" class="form-label">Correo</label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="form-floating">
                <input asp-for="Input.NewEmail" style="background-color: #4d6e7f; border:none;" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.NewEmail" class="form-label">Nuevo Correo</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" style="background-color: #333d45; color: #d5c9bb" class="w-100 btn btn-lg">Cambiar correo</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
