@model MenuMe1.Models.MenuItem

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h1>Crear</h1>
            <h4>Items</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" style=" background-color: #4d6e7f; border: none" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripcion</label>
                <input asp-for="Description" class="form-control" style=" background-color: #4d6e7f; border: none"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Precio</label>
                <input asp-for="Price" class="form-control" style=" background-color: #4d6e7f; border: none" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label">Posicion</label>
                <input asp-for="Position" class="form-control" style=" background-color: #4d6e7f; border: none" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MenuSectionId" class="control-label">Seccion del Menu</label>
                <input asp-for="MenuSectionId" class="form-control" style=" background-color: #4d6e7f; border: none" />
                <span asp-validation-for="MenuSectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
